@media only screen and (min-width:426px) and (max-width:769px){
    .wrap{
       width: 90%;
    }
    .menu{
        width: 100%;
        position: absolute;
        background-color: #000;
        height: 300px;
        display: none;
        flex-direction: column;
        align-items: center;
        top: 90px;
        left: 0;

    }
.came{
    display: flex;
}
#button{
        display: block;
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: none;  
        outline: none;
        appearance: none;
        
     span{
            margin: 10px 0px;
        }
      
        &::after , &::before , span{
        width: 100%;
        height: 4px; transition: 0.3s;
        background-color: rgb(255, 255, 255);
        display: block;
        border-radius: 20px;

      }
      
      &::after , &::before{
        content: '';
      }
    }
   
    .is-active{
        &::before{
            transform:translate(0px, 12px) rotate(-45deg);
        }
        span{
            opacity: 0;
        }
        &::after{
            transform:translate(0px, -15px) rotate(46deg);
        }
    }



    /******************* Banner **********************/
.ban-con{
    width: 100%;
    height: 546px;
    p{
        width: 100%;
    }
    h1{
        text-align: center;
    }
}
.links{
    margin-top: 0;
    width: 100%;
    justify-content: space-evenly;
    a{
        width: 131px;
    }
}
h1{
    font-size: 24px;
}
h1 span{
    letter-spacing: 0px;
    font-size: 58px;
}
/******************* Banner **********************/

/******************* About us **********************/
.wel-con{
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    .wel-intro{
        width: 400px;
        height: 446px;
        align-items: center;
        h3 , p{
            text-align: center;
        }
    }
}


.me-croped{
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   height: 313px;
   img{
    width: 286px;
   }
}
.skills{
    width: 400px;
    margin-top: 20px;
}
/******************* About us **********************/

/******************* Services **********************/
.services{
    margin-top: 20px;
}
.serv-con{
    grid-template-columns: 1fr;
    .servs{
        text-align: center;
        align-items: center;
    }
}
/******************* Services **********************/

/******************* Experience **********************/

.experience{
     .ex-con{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
     }
}
.exps{
    width: 364px;
}
/******************* Experience **********************/

/*******************    Blog **********************/
.the-blogs{
    grid-template-columns: 1fr;
    justify-items: center;
}
.bl-all{
    width:384px;
    a{
        width: 100%;
        align-items: center;
    }

}
/*******************    Blog **********************/


/******************* Projects **********************/
.proj-con{
    grid-template-columns: 1fr;
    img{
        width: 381px;
    }
}
/******************* Projects **********************/
h4{
    text-align: center;
}


.socials{
    width: 100%;
}
}









@media only screen and (min-width:703px) and (max-width:1057px){

    .services{
        margin-top: 20px;
    }
    .serv-con{
     grid-template-columns: 1fr 1fr;
    }

/******************* CTA **********************/

/******************* CTA **********************/


 }